.get-billing {
  .get-billing-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div#address-element {
    padding: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  div#payment-element {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .submit-payment-container {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
